.App {
  background-image: url(./assets/bg.png);
  background-attachment: fixed;
  background-repeat: initial;
  font-size: 100%; 
  font-family: helvetica, arial;
  line-height: 1.5;
  display: flex;
  flex-direction: column;



  /* min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100%;  */
    /* using % is a good practice so you can tie other font-size that are using EM instead of px to allow single step editing here. It will resize proportionally.
    */
  /* margin: auto auto 20px auto;
  text-align: left; */
  /*1.5 times font size*/

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
